<button amButton amSize="large" amType="primary">primary</button>
<button amButton amSize="large" amType="success">sucess</button>
<button amButton amSize="large" amType="info">info</button>
<button amButton amSize="large" amType="warning">warning</button>
<button amButton amSize="large" amType="danger">danger</button>

<button amButton amType="primary">primary</button>
<button amButton amType="success">sucess</button>
<button amButton amType="info">info</button>
<button amButton amType="warning">warning</button>
<button amButton amType="danger">danger</button>

<button amButton amSize="small" amType="primary">primary</button>
<button amButton amSize="small" amType="success">sucess</button>
<button amButton amSize="small" amType="info">info</button>
<button amButton amSize="small" amType="warning">warning</button>
<button amButton amSize="small" amType="danger">danger</button>
